/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# all files starting with Module- and ending with .md
Module-1.md
Module-2.md
Module-3.md
copilot-instructions.md
app/Console/Commands
tests/
.timetracker
TABLE_COMPONENTS_README.md

index.blade.php

Laravel_12.chatmode.md
